.wrap {
  background-color: #9bbcc3;
  min-height: 940px;
}

.head {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.header h2 {
  flex-grow: 1;
}

.empty-store {
  text-align: center;
  margin: 80px auto;
}